*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    min-height: 8vh;
    background-color: rgb(32, 81, 128);
    font-family: 'Poppins', sans-serif;
}

/* margenes a 0 (bootstrap añade espacio en los márgenes inferiores) */
ul{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

h3{
    margin: 0;
}

h4{
    margin: 0;
}

h5{
    margin: 0;
}

h6{
    margin: 0;
}

p{
    margin: 0;
}

.jumbotron{
    margin: 0;
}
/* navbar */
.logo{ 
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.logo a{
    color: rgb(236, 230, 225);
    text-decoration: none;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
    margin-bottom: 0;
}

.nav-links a{
    color: rgb(236, 230, 225);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burg{
    display: none;
    cursor: pointer;
}

.burg div{
    width: 25px;
    height: 2px;
    background-color: rgb(236, 230, 225);
    margin: 5px;
    transition: all 0.3s ease;
}

/* fondos */
.fondo-home{
    padding: 0;
    margin: 0;
    background: url('/static/Imgs/condominio.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* paneles */
.panel-normal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}
.panel-blanco{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255);
}

.panel-blanco-transparente{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.719);
}

.panel-blanco-redondo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.container{
    padding: 2em;
}

/* imagenes */
.imagen{
    display: flex;
    padding: 1em;
    border-radius: 25px;
}

/* perspectiva según resolución (responsiveness) */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(52, 106, 156, 0.986);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .burg{
        display: block;
    }
}

/* contracción de la navbar */
.nav-active{
    transform: translateX(0%);
}

/* animaciones*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* animación botón hamburguesa (navbar) */
.toggle .linea1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .linea2{
    opacity: 0;
}

.toggle .linea3{
    transform: rotate(45deg) translate(-5px,-6px);
}