{% extends 'base.html' %}
{% block titulo %} Bienvenido a espacioadmin {% endblock titulo %}
{% load static %}

{% block contenido%}
<body>
    <div class="fondo-home">
        <div class="container">
            <div class="panel-blanco-redondo">
                <div class="form-group col-sm-12">
                    <div class="table-responsive">
                        <table  class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID  </th>
                                    <th>rut  </th>
                                    <th>valor  </th>
                                    <th>fecha emision </th>
                                    <th>fecha vencimiento</th>
                                    <th>estado</th>
                                    <th colspan="2">acciones </th>
                                </tr>
                                {% for g in gastos %}
                                <tr>
                                    <td>{{g.id_gasto}}</td>
                                    <td>{{g.residente_rut.rut}}</td>
                                    <td>{{g.valor}}</td>
                                    <td>{{g.fecha_emision}}</td>
                                    <td>{{g.fecha_vencimiento}}</td>
                                    <td>{{g.estado}}</td>
                                    <td>

                                    <a  class="btn btn-danger" href="">pagar</a>
                                    </td>
                                </tr>
                                {% endfor %} 
                            </thead>
                        </table>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock contenido%}