{% extends 'base.html' %}
{% block titulo %} Bienvenido a espacioadmin {% endblock titulo %}
{% load static %}

{% block contenido%}
<body>
    <div class="fondo-home">
        <div class="container-fluid panel-normal">        
            <h1><kbd>
            {% if user.username %}
                ¡Bienvenido {{request.user.residente.nombre}} {{request.user.residente.apellido_pat}} {{request.user.residente.apellido_mat}}!
            {% else %}
                Bienvenido a EspacioAdmin
            {% endif %} 
            </h1>
            {% for mensaje in messages %}
                {{mensaje}}
            {% endfor %}
            </kbd>
        </div>
        <div class="panel-blanco-transparente">
            <div class="col-sm-8">
                <div class="container">
                    <h2>¡Consigue el hogar de tus sueños!</h2>
                    <h4>aaaaaaaaaaaaa</h4>
                    <p>aaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
            <div class="col-sm-4">
                <img class="img-fluid imagen" src="{% static 'Imgs/placeholder.jpg' %}">
            </div>
        </div>

        <footer class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>wow</h1>
                <p>el footer</p>
            </div>
        </footer>
    </div>
</body>
{% endblock contenido%}