{% extends 'base.html' %}
{% block titulo %} Bienvenido a espacioadmin {% endblock titulo %}
{% load static %}

{% block contenido%}
<body>
    <div class="fondo-home">
        <div class="container-fluid panel-normal">        
            <h1><kbd>
            {% if user.administrativo.rut %}
                ¡Bienvenido, {{request.user.administrativo.nombre}} {{request.user.administrativo.apellido_pat}} {{request.user.administrativo.apellido_mat}}
                {% if user.administrativo.tipo_administrativo.id_tipo == 1 %}
                    (Administrador)!
                {% elif user.administrativo.tipo_administrativo.id_tipo == 2 %}
                    (Conserje)!
                {% elif user.administrativo.tipo_administrativo.id_tipo == 3 %}
                    (Directiva)!
                {% else %}
                    desconocido
                {% endif %}
            {% elif user.username %}
                ¡Bienvenido, {{request.user.residente.nombre}} {{request.user.residente.apellido_pat}} {{request.user.residente.apellido_mat}}!
            {% else %}
                Bienvenido a EspacioAdmin
            {% endif %} 
            </h1>
            {% for mensaje in messages %}
                {{mensaje}}
            {% endfor %}
            </kbd>
        </div>
        <div class="panel-blanco-transparente">
            <div class="col-sm-8">
                <div class="container">
                    <h2>¡Consigue el hogar de tus sueños!</h2>
                    <h4></h4>
                    <p></p>
                </div>
            </div>
            <div class="col-sm-4">
                <img class="img-fluid imagen" src="{% static 'Imgs/interior.jpg' %}">
            </div>
        </div>
    </div>
</body>
{% endblock contenido%}