{% extends 'base.html' %}
{% block titulo %} Registrar Usuario {% endblock titulo %}
{% load static %}

{% block contenido%}
<body>
    <form id="regUsuario" method="post">
        {% csrf_token %}
        <label for="username">Rut (Obligatorio):</label>
        {{formulario.username}}<br>
        <label for="regNombre">Nombre (Obligatorio):</label>
        <input type="text" name="regNombre" placeholder="Cesar"><br>
        <label for="regAp_pat">Apellido Paterno (Obligatorio):</label>
        <input type="text" name="regAp_pat" placeholder="Poblete"><br>
        <label for="regAp_mat">Apellido Materno (Obligatorio):</label>
        <input type="text" name="regAp_mat" placeholder="Sepúlveda"><br>
        <label for="password1">Contraseña (Obligatorio):</label>
        {{formulario.password1}}<br>
        <label for="password2">Repetir Contraseña (Obligatorio):</label>
        {{formulario.password2}}<br>
        <label for="regMail">Mail (Obligatorio):</label>
        <input type="text" name="regMail" placeholder="mail@ejemplo.com"><br>
        {% for mensaje in messages %}
            {{mensaje}}<br>
        {% endfor %}
        <input type="submit" value="Registrar Usuario" onclick="return confirm('¿Estás seguro de realizar esta acción?')">
    </form>
</body>
{% endblock contenido%}